<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_fragments.html :: head ('Edit user profile')}">
    <title></title>
</head>
<body>
<div th:insert="~{navbar-admin}"></div>
<div class="container">
    <form class="user-form" action="#"
          th:action="@{/admin/users/{email}/edit (email=${user.email})}"
          th:object="${user}"
          method="post">
        <h1 class="user-form-header m-auto">Edit user profile: <span th:text="${user.login}"></span></h1>

        <label for="email">
            Email
        </label>
        <input class="form-control mb-4 col-10" type="text" th:field="*{email}" id="email" placeholder="Email">

        <label for="password">
            Password <br/>
            <i>(leave blank to keep it unchanged)</i>
        </label>
        <input class="form-control mb-4 col-10" type="text" th:field="*{password}" id="password"
               placeholder="Password">
        <input class="btn btn-lg badge-success btn-block col-sm-10" type="submit" value="Update">
    </form>
</div>
</body>
</html>
