<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_fragments.html :: head ('Main page')}">
    <title></title>
</head>
<body>
<div class="container">
    <h1>
        User: <span th:text="${#authentication.principal.username}"></span>
    </h1>
    <p>
        <a th:href="@{/admin/users/{login} (login=${#authentication.principal.username})}"
           class="btn btn-lg btn-primary btn-block mb-4 col-sm-3">Show profile</a>
    </p>
    <p>
        <a th:href="@{/admin/users}"
           class="btn btn-lg btn-primary btn-block col-sm-3">Get list of all users</a>
    </p>
    <form th:action="@{/logout}" method="POST">
        <input class="btn btn-lg btn-danger btn-block mb-4 col-sm-3" type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>
