<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html :: head ('Audit events')">
    <title></title>
</head>
<body>
<div th:insert="~{navbar-admin}"></div>
<div class="container">
    <h1>List of events for principal: <span th:text="${principal}"></span></h1>
    <table class="table table-striped table-responsive-md table-bordered">
        <thead>
        <tr>
            <th>User principal</th>
            <th>Timestamp</th>
            <th>Type of Event</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${listOfAuditEvents}">
            <td th:text="${event.principal}"></td>
            <td th:text="${event.timestamp}"></td>
            <td th:text="${event.type}"></td>
        </tr>
        </tbody>
    </table>
    <form class="form-inline my-2 my-lg-0" method="get"
          th:action="@{/admin/metrics/events/detailed(principal=${principal}, timestamp=${timestamp})}">
        <input class="form-control mr-sm-2" name="timestamp" type="datetime-local" placeholder="Date"
               aria-label="Search">
        <input class="form-control mr-sm-2" name="principal" type="text" placeholder="Principal" aria-label="Principal"
               th:value="${principal}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Show logs of user by login</button>
    </form>
</div>
</body>
</html>
