<!DOCTYPE html>
<html lang="en">
<head th:replace="_fragments.html :: head ('Users')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/admin}">QDIS(QAZDEVELOP Internal System) -- Administrator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users/{email} (email=${#authentication.principal.username})}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/workerTree}">Worker tree</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/metrics}">Server Usage</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <h1>Server usage</h1>
    <div>
        Free space on disk:
        <a th:text="${diskFree}"></a> Gb
        <br>
    </div>
    <div>
        Total space on disk:
        <a th:text="${diskTotal}"></a> Gb
        <br>
    </div>
    <div>
        Percent of load of disk:
        <a th:text="${percentsOfUsedSpace}"></a>%
        <br>
    </div>
    <div>
        Maximal time of rendering pages:
        <a th:text="${maxRenderPageTime}"></a> seconds.
        <br>
    </div>
    <div>
        Current cpu usage:
        <a th:text="${cpuUsage}"></a>%
    </div>
    <br>
    <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/admin/metrics/events}">
        <input class="form-control mr-sm-2" name="principal" type="search" placeholder="Email" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Show logs of user by login</button>
    </form>
</div>
</body>
</html>