<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html :: head ('Users')">
    <title></title>
</head>
<body>
<div class="container">
    <h1> List of all users </h1>
    <table class="table table-striped table-responsive-md table-bordered">
        <thead>
        <tr>
            <th>UserId</th>
            <th>Login</th>
            <th>Email</th>
            <th>PhoneNumber</th>
            <th>Role</th>
            <th>Is Enabled?</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td><a th:href="@{/admin/users/{login} (login=${user.login})}" th:text="${user.login}"></a></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.roles}"></td>
            <td th:text="${user.enabled}"></td>
            <td>
                <a th:href="@{/admin/users/{login}/edit (login=${user.login})}"
                   class="btn btn-lg badge-success btn-block col-sm-10 m-auto">
                    Edit
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin}" class="btn btn-lg badge-success btn-block mb-4 col-sm-3">Return to Main page</a>
</div>
</body>
</html>
