<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_fragments.html :: head ('Article')}">
    <title th:text="${article.title}"></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/user}">QDIS(QAZDEVELOP Internal System)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/user}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/article/all}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/workerTree}">Tree of workers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/topFive}">Top of active users</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/article/all/search}">
                <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search articles" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <h1 th:text="${article.title}"></h1>
    <p class="text-lg-left" th:utext="${article.text}"></p>
    <div> Author:
        <a th:href="@{/user/{email} (email=${article.author.email})}" th:text="${article.author.email}"></a>
        <p></p>
    </div>
    <div>
        Collaborators:
        <a th:text="${article.collaborators}"></a>
        <p></p>
    </div>
    <div>
        Date of creation:
        <a th:text="${article.dateOfCreation}"></a>
    </div>
    <div>
        Date of update:
        <a th:text="${article.dateOfUpdate}"></a>
    </div>
</div>
</body>
</html>