<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_fragments.html :: head ('Edit user profile')}">
    <title></title>
</head>
<body>
<div th:insert="~{navbar-user}"></div>
<div class="container">
    <form class="user-form" action="#" th:action="@{/user/profile/edit}" th:object="${user}" method="post">
        <h1 class="user-form-header m-auto">Edit user profile: <span th:text="${user.email}"></span></h1>

        <label for="surname">
            Surname
        </label>
        <input class="form-control mb-4 col-10" type="text" th:field="*{surname}" id="surname"
               placeholder="Your surname">

        <label for="name">
            Name
        </label>
        <input class="form-control mb-4 col-10" type="text" th:field="*{name}" id="name" placeholder="Your name">

        <label for="patronymic">
            Patronymic
        </label>
        <input class="form-control mb-4 col-10" type="text" th:field="*{patronymic}" id="patronymic"
               placeholder="Your patronymic">
        <label for="birthday">
            Birthday<br/>
            <i>(leave blank to keep it unchanged)</i>
            <input type="date" th:field="*{birthday}" placeholder="Birthday" id="birthday" class="form-control mb-4 col-10"/>
        </label>
        <label for="password">
            Password <br/>
            <i>(leave blank to keep it unchanged)</i>
        </label>
        <input class="form-control mb-4 col-10" type="text" th:field="*{password}" id="password" placeholder="Password">
        <label>
            <select th:field="*{sex}" class="form-check mb-4">
                <option th:value="'MALE'" th:text="Male"></option>
                <option th:value="'FEMALE'" th:text="Female"></option>
            </select>
        </label>
        <label>
            Personal number
            <input type="text" th:field="*{employee.contactInfo.personalNumber}" placeholder="Phone number" class="form-control mb-4 col-10"/>
        </label>
        <label>
            Telegram account name
            <input type="text" th:field="*{employee.contactInfo.telegramAccount}" placeholder="Telegram account name" class="form-control mb-4"/>
        </label>
        <label>
            Skype account name
            <input type="text" th:field="*{employee.contactInfo.skypeAccount}" placeholder="Skype account name" class="form-control mb-4"/>
        </label>
        <label>
            Country
            <input type="text" th:field="*{country}" placeholder="Country" class="form-control mb-4 col-10"/>
        </label>
        <label>
            City
            <input type="text" th:field="*{city}" placeholder="City" class="form-control mb-4 col-10"/>
        </label>

        <input class="btn btn-lg badge-success btn-block col-sm-10" type="submit" value="Update">
    </form>
</div>
</body>
</html>
