<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_fragments.html :: head ('Edit user profile')}">
    <title></title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/user}">QDIS(QAZDEVELOP Internal System)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/user}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/article/all}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/workerTree}">Tree of workers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/topFive}">Top of active users</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="get" th:action="@{/article/all/search}">
                <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search articles" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <form class="user-form" action="#" th:action="@{/user/profile/edit}" th:object="${user}" method="post">
        <h1 class="user-form-header m-auto">Edit user profile: <span th:text="${user.email}"></span></h1>

        <label for="surname">
            Surname
        </label>
        <input class="form-control mb-4 col-10" type="text" th:field="*{surname}" id="surname"
               placeholder="Your surname">

        <label for="name">
            Name
        </label>
        <input class="form-control mb-4 col-10" type="text" th:field="*{name}" id="name" placeholder="Your name">

        <label for="patronymic">
            Patronymic
        </label>
        <input class="form-control mb-4 col-10" type="text" th:field="*{patronymic}" id="patronymic"
               placeholder="Your patronymic">

        <label for="password">
            Password <br/>
            <i>(leave blank to keep it unchanged)</i>
        </label>
        <input class="form-control mb-4 col-10" type="text" th:field="*{password}" id="password" placeholder="Password">

        <input class="btn btn-lg badge-success btn-block col-sm-10" type="submit" value="Update">

<!--        <a th:href="@{/user}" class="btn btn-lg btn-primary btn-block mb-4 col-10">Return to Main page</a>-->
    </form>
</div>
</body>
</html>
