<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_fragments.html :: head ('Main page')}">
    <title></title>
</head>

<body>
<div th:insert="~{navbar-user}"></div>
<div class="container">
    <br>
    <h1>
        Hello: <span th:text="${#authentication.principal.username}"></span>. Have a nice day!
    </h1>
    <br>
    <b>
        Some rules and advices down there for you!
        <li class="nav-item"></li>
        Your profile will be able by
        <button class="btn-dark text-white-50">Profile</button>
        on top! <br>
        To show all articles, you can press
        <button class="btn-dark text-white-50">Articles</button>
        on top! <br>
        To see tree diagram of workers, press
        <button class="btn-dark text-white-50">Tree of worker</button>
        ! <br>
        Top 5 users by count of articles opened by
        <button class="btn-dark text-white-50">Top of active users</button>
        ! <br>
        To logout from system press
        <button class="btn btn-dark btn-outline-danger my-2 my-sm-0">Logout</button>
        !
        <li class="nav-item"></li>
    </b>
</div>
</body>
</html>
