<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_fragments.html :: head ('Main page')}">
  <title></title>
</head>
<body>
<div class="container">
  <h1>
    Hello: <span th:text="${#authentication.principal.username}"></span>. Have a nice day!
  </h1>
  <p>
    <a th:href="@{/user/profile}"
       class="btn btn-lg btn-primary btn-block mb-4 col-sm-3">Show profile</a>
  </p>
  <p>
    <a th:href="@{/user/all}"
       class="btn btn-lg btn-primary btn-block col-sm-3">Get list of all users</a>
  </p>
  <p>
    <a th:href="@{/article/all}"
       class="btn btn-lg btn-primary btn-block col-sm-3">Get list of all articles</a>
  </p>
  <p>
    <a th:href="@{/article/new}"
       class="btn btn-lg btn-primary btn-block col-sm-3">Write new article</a>
  </p>
  <form th:action="@{/logout}" method="POST">
    <input class="btn btn-lg btn-danger btn-block mb-4 col-sm-3" type="submit" value="Logout"/>
  </form>
</div>
</body>
</html>
