<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments.html :: head ('Users')">
    <title></title>
</head>
<body>
<div class="container">
    <h1> List of all users </h1>
    <table class="table table-striped table-responsive-md table-bordered">
        <thead>
        <tr>
            <th>Surname</th>
            <th>Name</th>
            <th>Full profile</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.surname}" t></td>
            <td th:text="${user.name}"></td>
            <td><a th:href="@{/user/{email} (email=${user.email})}" th:text="${user.email}"></a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/user}" class="btn btn-lg badge-success btn-block mb-4 col-sm-3">Return to Main page</a>
</div>
</body>
</html>
