<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (title)">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Title</title>
    <link href="../public/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="../public/css/user-form.css" th:href="@{/css/user-form.css}" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .pagination {
            display: inline-block;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 5px 5px;
            text-decoration: none;
        }

        .pagination a.active {
            background-color: gray;
            color: white;
            border-radius: 2px;
        }
    </style>
</head>
<body>
</body>
</html>
