<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_fragments.html :: head ('Restore password')}">
    <title></title>
</head>
<body>
<div class="container">
    <form class="user-form" action="#" th:action="@{/restorePassword/{token} (token=${restorePasswordToken})}" th:object="${restorePasswordData}" method="POST">
        <label>
            New password
            <input type="text" th:field="*{newPassword}" placeholder="New password" class="form-control mb-4" required/>
        </label>
        <label>
            Confirm new password
            <input type="text" th:field="*{confirmationNewPassword}" placeholder="Confirm new password"
                   class="form-control mb-4" required/>
        </label><br/>
        <button type="submit" class="btn btn-info col-2.5">Restore</button>
    </form>
</div>
</body>
</html>
