<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Top users</title>
    <link href="../public/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="../public/css/user-form.css" th:href="@{/css/user-form.css}" rel="stylesheet">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" th:href="@{/user}">QDIS(QAZDEVELOP Internal System)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/user}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/article/all}">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/workerTree}">Tree of workers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/topFive}">Top of active users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div align="center" style="width: 1000px;">
    <h2>Top 5 users by number of articles</h2>
    <div id="chart_div"></div>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
</div>
<script th:inline="javascript">
    var real_data = [[${chartData}]];
    $(document).ready(function() {
        google.charts.load('current', {
            packages : [ 'corechart', 'bar' ]
        });
        google.charts.setOnLoadCallback(drawColumnChart);
        google.charts.setOnLoadCallback(drawPieChart);
    });
    function drawColumnChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'User');
        data.addColumn('number', 'Articles');
        Object.keys(real_data).forEach(function(key) {
            data.addRow([ key, real_data[key] ]);
        });
        var options = {
            title : 'Blog stats',
            hAxis : {
                title : 'Users',
            },
            vAxis : {
                title : 'Articles count'
            }
        };
        var chart = new google.visualization.ColumnChart(document
            .getElementById('chart_div'));
        chart.draw(data, options);
    }
    function drawPieChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'User');
        data.addColumn('number', 'Articles');
        Object.keys(real_data).forEach(function(key) {
            data.addRow([ key, real_data[key] ]);
        });
        var options = {
            title : 'Blog stats'
        };
        var chart = new google.visualization.PieChart(document
            .getElementById('piechart'));
        chart.draw(data, options);
    }
</script>
</body>
</html>